*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    background-color: #0B5563;
    text-align: center;
}
h1{
    color: #C17817;
}
.Container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5vmin;
}
.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10vmin;
    color: #C17817;
    background-color: #BEB8EB;
}
#reset-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #5E5C6C;
    color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    
}
#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: #5E5C6C;
    color: #fff;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}
#msg{
    color: #ffffc7;
    font-size: 5vmin;
}
.message-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4vmin;
}
.hide{
    display: none;
}
